@import './common.css';

.app {
  text-align: center;
}

.about {
  @extend .app;
}

.animated {
  animation-duration: .3s;
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInRight {

  from {
    transform: translate3d(10%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.app-logo {
  height: 80px;
  background: url('./logo.svg') no-repeat 50%;
  animation: app-logo-spin infinite 20s linear;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}